$teal: #20b2aa;
$darkteal: #008b8b;
$lightgrey: #aaaca9;
$darkgrey: #2c2b2c;
$blue: #020e5b;
$lightblue: #00426d;
$cream: #fefcfc;
$skin1: #ffdbb1;
$skin2: #d4ab8b;
$skin3: #a27850;
$magenta: #960341;

.pixel-container {
  width: 30em;
  height: 30em;
}

.pixel {
  width: 1em;
  height: 1em;
  background-color: white;
  // Row 1
  box-shadow: 1em 1em $magenta, 2em 1em $magenta, 3em 1em $magenta,
    4em 1em $magenta, 5em 1em $magenta, 6em 1em $magenta, 7em 1em $magenta,
    8em 1em $darkgrey, 9em 1em $darkgrey, 10em 1em $darkgrey, 11em 1em $darkgrey,
    12em 1em $magenta, 13em 1em $magenta, 14em 1em $magenta, 15em 1em $magenta,
    16em 1em $magenta, 17em 1em $magenta, 18em 1em $magenta, 19em 1em $magenta,
    20em 1em $magenta, 21em 1em $magenta, 22em 1em $magenta, 23em 1em $magenta,
    24em 1em $magenta, 25em 1em $magenta, 26em 1em $magenta, 27em 1em $magenta,
    28em 1em $magenta, 29em 1em $magenta, 30em 1em $magenta,
    // Row 2
      1em 2em $magenta,
    2em 2em $magenta, 3em 2em $magenta, 4em 2em $magenta, 5em 2em $magenta,
    6em 2em $magenta, 7em 2em $darkgrey, 8em 2em $lightgrey, 9em 2em $lightgrey,
    10em 2em $lightblue, 11em 2em $darkgrey, 12em 2em $darkgrey,
    13em 2em $darkgrey, 14em 2em $darkgrey, 15em 2em $magenta, 16em 2em $magenta,
    17em 2em $magenta, 18em 2em $magenta, 19em 2em $magenta, 20em 2em $magenta,
    21em 2em $darkgrey, 22em 2em $darkgrey, 23em 2em $darkgrey,
    24em 2em $darkgrey, 25em 2em $magenta, 26em 2em $magenta, 27em 2em $magenta,
    28em 2em $magenta, 29em 2em $magenta, 30em 2em $magenta,
    // Row 3
      1em 3em $magenta,
    2em 3em $magenta, 3em 3em $magenta, 4em 3em $magenta, 5em 3em $magenta,
    6em 3em $darkgrey, 7em 3em $lightgrey, 8em 3em $lightgrey,
    9em 3em $lightgrey, 10em 3em $darkgrey, 11em 3em $blue, 12em 3em $darkgrey,
    13em 3em $darkgrey, 14em 3em $darkgrey, 15em 3em $darkgrey,
    16em 3em $magenta, 17em 3em $magenta, 18em 3em $magenta, 19em 3em $darkgrey,
    20em 3em $blue, 21em 3em $blue, 22em 3em $lightblue, 23em 3em $lightblue,
    24em 3em $darkgrey, 25em 3em $darkgrey, 26em 3em $magenta, 27em 3em $magenta,
    28em 3em $magenta, 29em 3em $magenta, 30em 3em $magenta,
    // Row 4
      1em 4em $magenta,
    2em 4em $magenta, 3em 4em $magenta, 4em 4em $magenta, 5em 4em $darkgrey,
    6em 4em $lightblue, 7em 4em $lightgrey, 8em 4em $lightgrey,
    9em 4em $darkgrey, 10em 4em $lightgrey, 11em 4em $lightblue,
    12em 4em $darkgrey, 13em 4em $blue, 14em 4em $blue, 15em 4em $darkgrey,
    16em 4em $darkgrey, 17em 4em $darkgrey, 18em 4em $darkgrey,
    19em 4em $darkgrey, 20em 4em $darkgrey, 21em 4em $darkgrey,
    22em 4em $lightblue, 23em 4em $lightblue, 24em 4em $lightgrey,
    25em 4em $lightgrey, 26em 4em $darkgrey, 27em 4em $magenta,
    28em 4em $magenta, 29em 4em $magenta, 30em 4em $magenta,
    // Row 5
      1em 5em $magenta,
    2em 5em $magenta, 3em 5em $magenta, 4em 5em $darkgrey, 5em 5em $lightblue,
    6em 5em $lightblue, 7em 5em $lightblue, 8em 5em $darkgrey,
    9em 5em $lightgrey, 10em 5em $lightgrey, 11em 5em $darkgrey,
    12em 5em $lightblue, 13em 5em $blue, 14em 5em $darkgrey, 15em 5em $darkteal,
    16em 5em $teal, 17em 5em $teal, 18em 5em $teal, 19em 5em $teal,
    20em 5em $teal, 21em 5em $teal, 22em 5em $darkgrey, 23em 5em $darkgrey,
    24em 5em $lightgrey, 25em 5em $lightgrey, 26em 5em $lightblue,
    27em 5em $darkgrey, 28em 5em $magenta, 29em 5em $magenta, 30em 5em $magenta,
    // Row 6
      1em 6em $magenta,
    2em 6em $magenta, 3em 6em $magenta, 4em 6em $darkgrey, 5em 6em $darkgrey,
    6em 6em $darkgrey, 7em 6em $darkgrey, 8em 6em $lightblue, 9em 6em $lightblue,
    10em 6em $darkgrey, 11em 6em $lightgrey, 12em 6em $lightblue,
    13em 6em $darkgrey, 14em 6em $darkteal, 15em 6em $teal, 16em 6em $teal,
    17em 6em $teal, 18em 6em $teal, 19em 6em $teal, 20em 6em $teal,
    21em 6em $teal, 22em 6em $teal, 23em 6em $teal, 24em 6em $darkgrey,
    25em 6em $lightblue, 26em 6em $lightblue, 27em 6em $darkgrey,
    28em 6em $magenta, 29em 6em $magenta, 30em 6em $magenta,
    // Row 7
      1em 7em $magenta,
    2em 7em $magenta, 3em 7em $magenta, 4em 7em $darkgrey, 5em 7em $blue,
    6em 7em $lightblue, 7em 7em $lightblue, 8em 7em $lightblue,
    9em 7em $darkgrey, 10em 7em $lightgrey, 11em 7em $lightgrey,
    12em 7em $darkgrey, 13em 7em $teal, 14em 7em $teal, 15em 7em $teal,
    16em 7em $teal, 17em 7em $teal, 18em 7em $teal, 19em 7em $teal,
    20em 7em $teal, 21em 7em $teal, 22em 7em $teal, 23em 7em $teal,
    24em 7em $teal, 25em 7em $darkgrey, 26em 7em $lightblue, 27em 7em $darkgrey,
    28em 7em $magenta, 29em 7em $magenta, 30em 7em $magenta,
    // Row 8
      1em 8em $magenta,
    2em 8em $magenta, 3em 8em $magenta, 4em 8em $darkgrey, 5em 8em $blue,
    6em 8em $blue, 7em 8em $lightblue, 8em 8em $darkgrey, 9em 8em $lightblue,
    10em 8em $lightblue, 11em 8em $darkgrey, 12em 8em $teal, 13em 8em $teal,
    14em 8em $teal, 15em 8em $teal, 16em 8em $teal, 17em 8em $teal,
    18em 8em $teal, 19em 8em $teal, 20em 8em $teal, 21em 8em $teal,
    22em 8em $teal, 23em 8em $teal, 24em 8em $teal, 25em 8em $teal,
    26em 8em $darkgrey, 27em 8em $darkgrey, 28em 8em $magenta, 29em 8em $magenta,
    30em 8em $magenta,
    // Row 9
      1em 9em $magenta,
    2em 9em $magenta, 3em 9em $darkgrey, 4em 9em $blue, 5em 9em $darkgrey,
    6em 9em $darkgrey, 7em 9em $darkgrey, 8em 9em $lightblue, 9em 9em $lightblue,
    10em 9em $darkgrey, 11em 9em $teal, 12em 9em $teal, 13em 9em $teal,
    14em 9em $teal, 15em 9em $teal, 16em 9em $teal, 17em 9em $teal,
    18em 9em $teal, 19em 9em $teal, 20em 9em $teal, 21em 9em $teal,
    22em 9em $darkteal, 23em 9em $teal, 24em 9em $teal, 25em 9em $teal,
    26em 9em $darkteal, 27em 9em $darkgrey, 28em 9em $magenta, 29em 9em $magenta,
    30em 9em $magenta,
    // Row 10
      1em 10em $magenta,
    2em 10em $magenta, 3em 10em $darkgrey, 4em 10em $blue, 5em 10em $blue,
    6em 10em $lightblue, 7em 10em $lightblue, 8em 10em $lightblue,
    9em 10em $darkgrey, 10em 10em $teal, 11em 10em $teal, 12em 10em $teal,
    13em 10em $teal, 14em 10em $teal, 15em 10em $teal, 16em 10em $teal,
    17em 10em $teal, 18em 10em $teal, 19em 10em $teal, 20em 10em $cream,
    21em 10em $teal, 22em 10em $darkteal, 23em 10em $teal, 24em 10em $teal,
    25em 10em $teal, 26em 10em $teal, 27em 10em $darkgrey, 28em 10em $magenta,
    29em 10em $magenta, 30em 10em $magenta,
    // Row 11
      1em 11em $magenta,
    2em 11em $magenta, 3em 11em $darkgrey, 4em 11em $blue, 5em 11em $blue,
    6em 11em $blue, 7em 11em $lightblue, 8em 11em $darkgrey, 9em 11em $teal,
    10em 11em $teal, 11em 11em $teal, 12em 11em $teal, 13em 11em $teal,
    14em 11em $teal, 15em 11em $teal, 16em 11em $teal, 17em 11em $cream,
    18em 11em $cream, 19em 11em $cream, 20em 11em $teal, 21em 11em $darkteal,
    22em 11em $darkgrey, 23em 11em $teal, 24em 11em $cream, 25em 11em $cream,
    26em 11em $teal, 27em 11em $darkteal, 28em 11em $darkgrey,
    29em 11em $magenta, 30em 11em $magenta,
    // Row 12
      1em 12em $magenta,
    2em 12em $darkgrey, 3em 12em $darkteal, 4em 12em $darkgrey,
    5em 12em $darkgrey, 6em 12em $darkgrey, 7em 12em $darkgrey, 8em 12em $teal,
    9em 12em $cream, 10em 12em $cream, 11em 12em $cream, 12em 12em $cream,
    13em 12em $cream, 14em 12em $cream, 15em 12em $cream, 16em 12em $cream,
    17em 12em $cream, 18em 12em $cream, 19em 12em $teal, 20em 12em $teal,
    21em 12em $darkgrey, 22em 12em $darkgrey, 23em 12em $teal, 24em 12em $cream,
    25em 12em $cream, 26em 12em $cream, 27em 12em $teal, 28em 12em $darkgrey,
    29em 12em $magenta, 30em 12em $magenta,
    // Row 13
      1em 13em $magenta,
    2em 13em $darkgrey, 3em 13em $darkteal, 4em 13em $darkgrey, 5em 13em $blue,
    6em 13em $darkgrey, 7em 13em $darkteal, 8em 13em $teal, 9em 13em $teal,
    10em 13em $cream, 11em 13em $cream, 12em 13em $cream, 13em 13em $cream,
    14em 13em $cream, 15em 13em $cream, 16em 13em $cream, 17em 13em $teal,
    18em 13em $teal, 19em 13em $teal, 20em 13em $darkgrey, 21em 13em $skin3,
    22em 13em $darkgrey, 23em 13em $teal, 24em 13em $teal, 25em 13em $teal,
    26em 13em $cream, 27em 13em $cream, 28em 13em $darkgrey, 29em 13em $magenta,
    30em 13em $magenta,
    // Row 14
      1em 14em $magenta,
    2em 14em $darkgrey, 3em 14em $darkteal, 4em 14em $darkgrey, 5em 14em $blue,
    6em 14em $darkgrey, 7em 14em $teal, 8em 14em $teal, 9em 14em $teal,
    10em 14em $teal, 11em 14em $teal, 12em 14em $teal, 13em 14em $teal,
    14em 14em $teal, 15em 14em $teal, 16em 14em $teal, 17em 14em $teal,
    18em 14em $teal, 19em 14em $darkgrey, 20em 14em $skin3, 21em 14em $skin2,
    22em 14em $skin1, 23em 14em $darkgrey, 24em 14em $teal, 25em 14em $teal,
    26em 14em $teal, 27em 14em $teal, 28em 14em $darkgrey, 29em 14em $magenta,
    30em 14em $magenta,
    // Row 15
      1em 15em $magenta,
    2em 15em $darkgrey, 3em 15em $darkteal, 4em 15em $darkgrey, 5em 15em $blue,
    6em 15em $darkgrey, 7em 15em $teal, 8em 15em $teal, 9em 15em $teal,
    10em 15em $teal, 11em 15em $teal, 12em 15em $teal, 13em 15em $teal,
    14em 15em $teal, 15em 15em $teal, 16em 15em $teal, 17em 15em $darkgrey,
    18em 15em $darkgrey, 19em 15em $skin2, 20em 15em $skin2, 21em 15em $skin1,
    22em 15em $skin1, 23em 15em $darkgrey, 24em 15em $darkgrey, 25em 15em $teal,
    26em 15em $teal, 27em 15em $teal, 28em 15em $darkgrey, 29em 15em $magenta,
    30em 15em $magenta,
    // Row 16
      1em 16em $magenta,
    2em 16em $darkgrey, 3em 16em $darkteal, 4em 16em $darkteal,
    5em 16em $darkgrey, 6em 16em $darkgrey, 7em 16em $teal, 8em 16em $teal,
    9em 16em $teal, 10em 16em $teal, 11em 16em $teal, 12em 16em $teal,
    13em 16em $teal, 14em 16em $darkgrey, 15em 16em $darkgrey,
    16em 16em $darkgrey, 17em 16em $darkgrey, 18em 16em $darkgrey,
    19em 16em $skin1, 20em 16em $skin1, 21em 16em $skin1, 22em 16em $darkgrey,
    23em 16em $cream, 24em 16em $darkgrey, 25em 16em $darkgrey, 26em 16em $teal,
    27em 16em $teal, 28em 16em $darkgrey, 29em 16em $magenta, 30em 16em $magenta,
    // Row 17
      1em 17em $magenta,
    2em 17em $darkgrey, 3em 17em $darkteal, 4em 17em $darkteal,
    5em 17em $darkteal, 6em 17em $darkteal, 7em 17em $darkteal,
    8em 17em $darkteal, 9em 17em $teal, 10em 17em $teal, 11em 17em $teal,
    12em 17em $darkgrey, 13em 17em $darkgrey, 14em 17em $cream, 15em 17em $cream,
    16em 17em $darkgrey, 17em 17em $darkgrey, 18em 17em $darkgrey,
    19em 17em $skin1, 20em 17em $skin1, 21em 17em $skin1, 22em 17em $darkgrey,
    23em 17em $cream, 24em 17em $darkgrey, 25em 17em $darkgrey,
    26em 17em $darkteal, 27em 17em $teal, 28em 17em $darkgrey,
    29em 17em $magenta, 30em 17em $magenta,
    // Row 18
      1em 18em $magenta,
    2em 18em $darkgrey, 3em 18em $darkteal, 4em 18em $darkteal,
    5em 18em $darkteal, 6em 18em $darkteal, 7em 18em $darkteal,
    8em 18em $darkteal, 9em 18em $darkteal, 10em 18em $darkgrey,
    11em 18em $darkgrey, 12em 18em $darkgrey, 13em 18em $cream, 14em 18em $cream,
    15em 18em $cream, 16em 18em $darkgrey, 17em 18em $darkgrey,
    18em 18em $darkgrey, 19em 18em $skin1, 20em 18em $skin1, 21em 18em $skin1,
    22em 18em $darkgrey, 23em 18em $cream, 24em 18em $darkgrey,
    25em 18em $darkgrey, 26em 18em $darkteal, 27em 18em $darkteal,
    28em 18em $darkgrey, 29em 18em $magenta, 30em 18em $magenta,
    // Row 19
      1em 19em $magenta,
    2em 19em $darkgrey, 3em 19em $darkteal, 4em 19em $darkteal,
    5em 19em $darkteal, 6em 19em $darkteal, 7em 19em $darkteal,
    8em 19em $darkteal, 9em 19em $darkteal, 10em 19em $darkteal,
    11em 19em $darkgrey, 12em 19em $darkgrey, 13em 19em $cream, 14em 19em $cream,
    15em 19em $cream, 16em 19em $darkgrey, 17em 19em $darkgrey,
    18em 19em $darkgrey, 19em 19em $skin1, 20em 19em $skin1, 21em 19em $skin1,
    22em 19em $darkgrey, 23em 19em $cream, 24em 19em $darkgrey,
    25em 19em $darkgrey, 26em 19em $darkteal, 27em 19em $darkteal,
    28em 19em $darkteal, 29em 19em $darkgrey, 30em 19em $magenta,
    // Row 20
      1em 20em $magenta,
    2em 20em $darkgrey, 3em 20em $darkteal, 4em 20em $darkteal,
    5em 20em $darkteal, 6em 20em $darkteal, 7em 20em $darkteal,
    8em 20em $darkteal, 9em 20em $darkteal, 10em 20em $darkteal,
    11em 20em $darkgrey, 12em 20em $skin2, 13em 20em $darkgrey, 14em 20em $cream,
    15em 20em $cream, 16em 20em $cream, 17em 20em $darkgrey, 18em 20em $darkgrey,
    19em 20em $skin1, 20em 20em $skin1, 21em 20em $skin1, 22em 20em $darkgrey,
    23em 20em $cream, 24em 20em $cream, 25em 20em $darkgrey, 26em 20em $darkteal,
    27em 20em $darkteal, 28em 20em $darkteal, 29em 20em $darkteal,
    30em 20em $darkgrey,
    // Row 21
      1em 21em $darkgrey,
    2em 21em $darkteal, 3em 21em $darkteal, 4em 21em $darkteal,
    5em 21em $darkteal, 6em 21em $darkteal, 7em 21em $darkteal,
    8em 21em $darkteal, 9em 21em $darkteal, 10em 21em $teal, 11em 21em $darkgrey,
    12em 21em $skin1, 13em 21em $skin1, 14em 21em $darkgrey, 15em 21em $darkgrey,
    16em 21em $darkgrey, 17em 21em $darkgrey, 18em 21em $skin1, 19em 21em $skin1,
    20em 21em $skin1, 21em 21em $skin3, 22em 21em $skin2, 23em 21em $darkgrey,
    24em 21em $darkgrey, 25em 21em $darkgrey, 26em 21em $darkteal,
    27em 21em $darkgrey, 28em 21em $darkteal, 29em 21em $darkteal,
    30em 21em $darkgrey,
    // Row 22
      1em 22em $darkgrey,
    2em 22em $darkgrey, 3em 22em $darkgrey, 4em 22em $darkteal,
    5em 22em $darkteal, 6em 22em $darkteal, 7em 22em $teal, 8em 22em $darkteal,
    9em 22em $darkteal, 10em 22em $teal, 11em 22em $teal, 12em 22em $darkgrey,
    13em 22em $darkgrey, 14em 22em $skin1, 15em 22em $skin1, 16em 22em $skin1,
    17em 22em $skin1, 18em 22em $skin1, 19em 22em $skin1, 20em 22em $skin1,
    21em 22em $skin1, 22em 22em $skin1, 23em 22em $skin1, 24em 22em $skin2,
    25em 22em $darkgrey, 26em 22em $darkteal, 27em 22em $darkgrey,
    28em 22em $darkgrey, 29em 22em $darkgrey, 30em 22em $magenta,
    // Row 23
      1em 23em $magenta,
    2em 23em $magenta, 3em 23em $magenta, 4em 23em $darkgrey, 5em 23em $darkteal,
    6em 23em $teal, 7em 23em $teal, 8em 23em $darkteal, 9em 23em $darkteal,
    10em 23em $darkgrey, 11em 23em $teal, 12em 23em $teal, 13em 23em $darkgrey,
    14em 23em $skin1, 15em 23em $skin1, 16em 23em $skin1, 17em 23em $skin1,
    18em 23em $skin1, 19em 23em $skin1, 20em 23em $skin1, 21em 23em $skin1,
    22em 23em $skin1, 23em 23em $skin1, 24em 23em $skin1, 25em 23em $darkgrey,
    26em 23em $darkteal, 27em 23em $darkgrey, 28em 23em $magenta,
    29em 23em $magenta, 30em 23em $magenta,
    // Row 24
      1em 24em $magenta,
    2em 24em $magenta, 3em 24em $darkgrey, 4em 24em $darkteal,
    5em 24em $darkteal, 6em 24em $teal, 7em 24em $teal, 8em 24em $darkteal,
    9em 24em $darkteal, 10em 24em $darkteal, 11em 24em $darkgrey,
    12em 24em $darkgrey, 13em 24em $skin2, 14em 24em $skin2, 15em 24em $skin1,
    16em 24em $skin1, 17em 24em $skin1, 18em 24em $darkgrey, 19em 24em $darkgrey,
    20em 24em $darkgrey, 21em 24em $skin1, 22em 24em $skin1, 23em 24em $skin1,
    24em 24em $darkgrey, 25em 24em $darkgrey, 26em 24em $darkteal,
    27em 24em $darkteal, 28em 24em $darkgrey, 29em 24em $magenta,
    30em 24em $magenta,
    // Row 25
      1em 25em $magenta,
    2em 25em $magenta, 3em 25em $darkgrey, 4em 25em $darkgrey,
    5em 25em $darkgrey, 6em 25em $darkgrey, 7em 25em $darkgrey,
    8em 25em $darkteal, 9em 25em $darkteal, 10em 25em $darkteal,
    11em 25em $darkgrey, 12em 25em $darkgrey, 13em 25em $darkgrey,
    14em 25em $skin2, 15em 25em $skin2, 16em 25em $skin1, 17em 25em $skin1,
    18em 25em $skin1, 19em 25em $skin1, 20em 25em $skin1, 21em 25em $skin1,
    22em 25em $skin1, 23em 25em $darkgrey, 24em 25em $darkgrey,
    25em 25em $darkteal, 26em 25em $darkteal, 27em 25em $darkteal,
    28em 25em $darkgrey, 29em 25em $magenta, 30em 25em $magenta,
    // Row 26
      1em 26em $magenta,
    2em 26em $magenta, 3em 26em $magenta, 4em 26em $magenta, 5em 26em $magenta,
    6em 26em $magenta, 7em 26em $magenta, 8em 26em $magenta, 9em 26em $darkteal,
    10em 26em $darkteal, 11em 26em $darkgrey, 12em 26em $darkgrey,
    13em 26em $darkgrey, 14em 26em $darkgrey, 15em 26em $darkgrey,
    16em 26em $darkgrey, 17em 26em $darkgrey, 18em 26em $darkgrey,
    19em 26em $darkgrey, 20em 26em $darkgrey, 21em 26em $darkgrey,
    22em 26em $darkgrey, 23em 26em $magenta, 24em 26em $magenta,
    25em 26em $darkgrey, 26em 26em $darkgrey, 27em 26em $darkgrey,
    28em 26em $magenta, 29em 26em $magenta, 30em 26em $magenta,
    // Row 27
      1em 27em $magenta,
    2em 27em $magenta, 3em 27em $magenta, 4em 27em $magenta, 5em 27em $magenta,
    6em 27em $magenta, 7em 27em $magenta, 8em 27em $magenta, 9em 27em $darkgrey,
    10em 27em $darkgrey, 11em 27em $darkgrey, 12em 27em $magenta,
    13em 27em $magenta, 14em 27em $magenta, 15em 27em $magenta,
    16em 27em $magenta, 17em 27em $magenta, 18em 27em $magenta,
    19em 27em $magenta, 20em 27em $magenta, 21em 27em $magenta,
    22em 27em $magenta, 23em 27em $magenta, 24em 27em $magenta,
    25em 27em $magenta, 26em 27em $magenta, 27em 27em $magenta,
    28em 27em $magenta, 29em 27em $magenta, 30em 27em $magenta;
}
